.btnsubmit{
    margin-top: 15px;
}
.lbblank{
    display: block;
    margin-bottom: 35px;
}
.lbsearch{
    margin-right: 7px;
}
.btntt {
    width: 49%;
    // margin-top: 30px;
    font-family: 'SVN-Gilroy Bold';
    line-height: 48px;
    background: #fcaf17;
    color: #fff;
    text-align: center;
    padding: 0;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    font-size: 18px;
}
.stdcode{
    font-weight: bold;
    cursor: pointer;
}


.rowcard{
    margin: auto;
}
#cardinfor{
    border: 2px solid #d1d1d1;
    padding: 0px;
    padding-top: 7px;
    padding-bottom: 20px;

}
.cardtop{
    padding: 0px 10px 0px 10px;
    border-bottom: 1px solid #d1d1d1;
}
.titlecard{
    text-align: center;
}
.cardlogo{
    width: 40px;
    float: left;
}
.cardtitle{
    float: none;
    overflow: hidden;
}
.imglogocard{
    width: 40px;
}
.main-card-left{
    width: 25%;
    float: left;
    padding-top: 10px;
}
.imgmaincard{
    margin-left: 10px;
    width: 90%;
    object-fit: cover;
}
.sdtcodesd{
    display: block;
    text-align: center;
}
.stdcodecard{
    margin-top: 5px;
    background-color: #fde8dd;
    padding: 2px 0px 1px 0px;
}
.maintitle{
    text-align: center;
}
.maintitle{
    font-weight: bold;
}
.tsv{
    font-size: 1.3rem;
    color: #96693d;
}
.tsvtt{
    font-size: 0.9rem;
    color: #c6a3a7;
}
.main-card-right{
    width: 75%;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}
.boldtext{
    font-weight: bold;
}
.blocktext{
    display: block;
}
.righttext{
    margin-left: 10px;
}
.upcase{
    text-transform: uppercase;
}
.btnprint{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

